<style>
  .js-back-to-top{position:fixed;z-index:1001;bottom:2vh;right:4vh;width:50px;height:50px;line-height:50px;text-align:center;cursor:pointer;display:block;border-radius:50%;background-color:rgb(86, 54, 44);}@media (max-width:767px){.js-back-to-top{display:none!important}}.js-back-to-top svg{fill:#fff;width:17px;}
</style>
<span class="js-back-to-top text-white transition" style="display:none">{%- include 'icon-arrow-up' -%}</span>