<a href="#" class="article-block">
  <div>
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <div class="article-block__info">
    <h6 class="article-block__title">{{ 'homepage.onboarding.blog_title' | t }}</h6>
    <p>{{ 'blogs.article.read_more' | t }}</p>
  </div>
</a>