<button type="button" class="text-link site-header__link js-drawer-open-left align-items-center d-inline-flex">
  <span class="site-header__menu-toggle--open humberger"  >
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
  </span>
  {%- if section.settings.name_menu != blank -%}
  <span class="textmenu pl-2 d-none d-lg-inline-block">{{section.settings.name_menu}}</span>
  {%- endif -%}
</button>