{%- if collection.metafields.info.coupon_code != blank -%}
<!-- coupon_code.liquid -->
<div class="modal fade" id="jsCoupon" role="dialog" aria-hidden="true" data-delay="{{settings.coupon_time | times:1000}}">
  <div class="modal-dialog modal-dialog--coupon modal-dialog-centered" role="document">
    <div class="modal-content" {%- if collection.metafields.info.coupon_image != blank -%}style="background:url({{collection.metafields.info.coupon_image}}) white no-repeat center"{%- endif -%}>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">{%- include 'icon-close' -%}</button>
      </div>
      <div class="modal-body pb-5">
        <p class="coupon-promotion">{{collection.metafields.info.promotion}}</p>
        <div class="position-relative pt-3">
          <input id="coupon_code" type="text" value="{{collection.metafields.info.coupon_code}}">
          <button class="btn btn-theme js-btn-coupon">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .modal-dialog--coupon{max-width:520px!important;text-align:center}#coupon_code{background:0 0;text-align:center;font-weight:700;color:var(--g-main);border:2px dashed var(--g-main);transition:all ease .45s;cursor:pointer;padding:0;font-size:20px}.js-btn-coupon{position:absolute;width:100%;top:0;left:0;opacity:0}
</style>
{%- endif -%}