<div class="html-item html-item-icon col-4 col-sm-2 text-center">
  <textarea id="htmlCode-{{generateIcon}}" name="message" class="html-code">{%- include generateIcon -%}</textarea>
  <div class="position-relative">
    <button data-tooltip="true" class="btn btn-secondary btn-html-copy" data-id="{{generateIcon}}" title="{{generateIcon}}"></button>
    <div id="htmlView-{{generateIcon}}" class="html-view icon-2">
      {%- include generateIcon -%}
    </div>
  </div>
</div>