<h4 id="html-howthisworks" class="html-title pt-4 mb-3">#Introduction <small>(v1.08)</small></h4>

<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} This tool is used to quickly create HTML templates in Shopify or other platform with Bootstrap 4.3.1
</span>
<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} You can paste the HTML codes generated from this tool into product desription, collection description, page, theme settings, metafields,... in your Shopify store.
</span>
<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} This tool is only integrated into this demonstration store, so it does not affect your page or your theme speed, you simply copy the HTML from this tool.
</span>
<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} Based on <b>Apollo framework 4.0</b>, <b>Bootstrap 4.3.1</b> and other technologies (Shopify, jQuery, Smashicons, HTML5, CSS3,..)
</span>
<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} These are not hard-code, they work with CSS classes in Apollo framework 4.0. In some cases, colors and fonts display differently than here, depending on your theme settings.
</span>
<span class="font-weight-bold text-success px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-check-square' %} Feel free to contact us if you have any issues with this tool or Apollo framework 4.0. ( {% include 'icon-mail' %} apollotheme@gmail.com | {% include 'icon-skype' %} trandinhnghiait | {% include 'icon-skype' %} nvchien91 )
</span>

<span class="text-danger px-2 py-1 mb-3 mr-lg-5 rounded d-inline-block">
  {% include 'icon-square' %} Please note that we do not support issues that appear when you paste the codes into 3rd party themes.
</span>