<div class="row no-gutters">
  <div class="col-12">
    <h4 id="html-divided" class="html-title pt-4">#Divided, the gaps between the element</h4>
  </div>
  <div class="col-12 col-md-7">
    <div class="input-group mt-4 mb-4">
      <div class="input-group-prepend">
        <label class="font-weight-bold input-group-text">Select divide</label>
      </div>
      <select class="custom-select js-html-select box-shadow-none" data-id="Divided">
        <optgroup class="text-primary" label="Easy">
          <option selected value="hr-primary">Primary line</option>
          <option value="hr-secondary">Secondary line</option>
          <option value="hr-success">Success line</option>
          <option value="hr-danger">Danger line</option>
          <option value="hr-warning">Warning line</option>
          <option value="hr-info">Info line</option>
          <option value="hr-light">Light line</option>
          <option value="hr-dark">Dark line</option>
          <option value="hr-normal">Normal line</option>
          <option value="hr-blank">Blank</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-7 col-left">
    <textarea id="htmlCode-Divided" class="html-code"><hr class="border-primary"/></textarea>
  </div>
  <div class="col-md-2 col-mid">
    <button class="btn btn-outline-secondary btn-html-view" data-id="Divided">Preview{%- include 'icon-arrow-right' -%}</button>
    <button class="btn btn-secondary btn-html-copy" data-id="Divided">Copy {%- include 'icon-copy' -%}</button>
  </div>
  <div class="col-md-3 col-right">
    <div id="htmlView-Divided" class="html-view shadow html-view--widow">
      <hr class="border-primary"/>
    </div>
  </div>

  <div id="htmlContent-Divided" class="js-html-content hide" data-id="Divided">
    <div class="hr-normal"><hr /></div>
    <div class="hr-primary"><hr class="border-primary"/></div>
    <div class="hr-secondary"><hr class="border-secondary"/></div>
    <div class="hr-success"><hr class="border-success"/></div>
    <div class="hr-danger"><hr class="border-danger"/></div>
    <div class="hr-warning"><hr class="border-warning"/></div>
    <div class="hr-info"><hr class="border-info"/></div>
    <div class="hr-light"><hr class="border-light"/></div>
    <div class="hr-dark"><hr class="border-dark"/></div>
    <div class="hr-blank"><hr class="border-0"/></div>
  </div>
</div>
<hr />