<h4 id="html-icon" class="html-title pt-4">#Icon <small>(Click to copy code)</small></h4>
<div class="row">
  {%- include 'generateIcon' with 'icon-app' -%}
  {%- include 'generateIcon' with 'icon-app-alt' -%}
  {%- include 'generateIcon' with 'icon-arrow-down' -%}
  {%- include 'generateIcon' with 'icon-arrow-left' -%}
  {%- include 'generateIcon' with 'icon-arrow-right' -%}
  {%- include 'generateIcon' with 'icon-arrow-up' -%}
  {%- include 'generateIcon' with 'icon-arrow-thin-down' -%}
  {%- include 'generateIcon' with 'icon-arrow-thin-left' -%}
  {%- include 'generateIcon' with 'icon-arrow-thin-right' -%}
  {%- include 'generateIcon' with 'icon-arrow-thin-up' -%}
  {%- include 'generateIcon' with 'icon-chevron-down' -%}
  {%- include 'generateIcon' with 'icon-chevron-left' -%}
  {%- include 'generateIcon' with 'icon-chevron-right' -%}
  {%- include 'generateIcon' with 'icon-chevron-up' -%}
  {%- include 'generateIcon' with 'icon-bag' -%}
  {%- include 'generateIcon' with 'icon-cart' -%}
  {%- include 'generateIcon' with 'icon-circle' -%}
  {%- include 'generateIcon' with 'icon-check-circle' -%}
  {%- include 'generateIcon' with 'icon-coffee' -%}
  {%- include 'generateIcon' with 'icon-square' -%}
  {%- include 'generateIcon' with 'icon-check-square' -%}
  {%- include 'generateIcon' with 'icon-checkout' -%}
  {%- include 'generateIcon' with 'icon-close' -%}
  {%- include 'generateIcon' with 'icon-contract' -%}
  {%- include 'generateIcon' with 'icon-copy' -%}
  {%- include 'generateIcon' with 'icon-divide' -%}
  {%- include 'generateIcon' with 'icon-dot-circle' -%}
  {%- include 'generateIcon' with 'icon-download' -%}
  {%- include 'generateIcon' with 'icon-envelope' -%}
  {%- include 'generateIcon' with 'icon-exchange' -%}
  {%- include 'generateIcon' with 'icon-facebook' -%}
  {%- include 'generateIcon' with 'icon-gear' -%}
  {%- include 'generateIcon' with 'icon-gear-alt' -%}
  {%- include 'generateIcon' with 'icon-globe-europe' -%}
  {%- include 'generateIcon' with 'icon-hamburger' -%}
  {%- include 'generateIcon' with 'icon-heart' -%}
  {%- include 'generateIcon' with 'icon-heart-solid' -%}
  {%- include 'generateIcon' with 'icon-home' -%}
  {%- include 'generateIcon' with 'icon-idea' -%}
  {%- include 'generateIcon' with 'icon-idea-2' -%}
  {%- include 'generateIcon' with 'icon-instagram' -%}
  {%- include 'generateIcon' with 'icon-linkedin-in' -%}
  {%- include 'generateIcon' with 'icon-lock' -%}
  {%- include 'generateIcon' with 'icon-mail' -%}
  {%- include 'generateIcon' with 'icon-minus' -%}
  {%- include 'generateIcon' with 'icon-mobile-phone' -%}
  {%- include 'generateIcon' with 'icon-more' -%}
  {%- include 'generateIcon' with 'icon-notebook' -%}
  {%- include 'generateIcon' with 'icon-package' -%}
  {%- include 'generateIcon' with 'icon-pause' -%}
  {%- include 'generateIcon' with 'icon-pencil-ruler' -%}
  {%- include 'generateIcon' with 'icon-phone' -%}
  {%- include 'generateIcon' with 'icon-phone-alt' -%}
  {%- include 'generateIcon' with 'icon-picture' -%}
  {%- include 'generateIcon' with 'icon-picture-alt' -%}
  {%- include 'generateIcon' with 'icon-pin' -%}
  {%- include 'generateIcon' with 'icon-pin-2' -%}
  {%- include 'generateIcon' with 'icon-pinterest' -%}
  {%- include 'generateIcon' with 'icon-placeholder' -%}
  {%- include 'generateIcon' with 'icon-play' -%}
  {%- include 'generateIcon' with 'icon-plus' -%}
  {%- include 'generateIcon' with 'icon-quickview' -%}
  {%- include 'generateIcon' with 'icon-quote' -%}
  {%- include 'generateIcon' with 'icon-remove' -%}
  {%- include 'generateIcon' with 'icon-route' -%}
  {%- include 'generateIcon' with 'icon-search' -%}
  {%- include 'generateIcon' with 'icon-send' -%}
  {%- include 'generateIcon' with 'icon-sign-out' -%}
  {%- include 'generateIcon' with 'icon-sliders' -%}
  {%- include 'generateIcon' with 'icon-snapchat' -%}
  {%- include 'generateIcon' with 'icon-speaker' -%}
  {%- include 'generateIcon' with 'icon-star' -%}
  {%- include 'generateIcon' with 'icon-star-alt' -%}
  {%- include 'generateIcon' with 'icon-trophy' -%}
  {%- include 'generateIcon' with 'icon-trophy-2' -%}
  {%- include 'generateIcon' with 'icon-truck' -%}
  {%- include 'generateIcon' with 'icon-tumblr' -%}
  {%- include 'generateIcon' with 'icon-twitter' -%}
  {%- include 'generateIcon' with 'icon-typography' -%}
  {%- include 'generateIcon' with 'icon-user' -%}
  {%- include 'generateIcon' with 'icon-view' -%}
  {%- include 'generateIcon' with 'icon-vimeo' -%}
  {%- include 'generateIcon' with 'icon-youtube' -%}
</div>
<hr />