<div class="meganav__list">
  {% for childlink in link.links %}
  <li class="site-nav__dropdown-container site-nav__dropdown-container--second-level">
    {% assign childlink_url = childlink.url %}
    {% if childlink.links != blank %}
    <a href="{{ childlink_url }}" class="meganav__link meganav__link-toggle site-nav__link-toggle meganav__link--has-list{% if childlink.active %} meganav__link--active{% endif %}" {% if childlink.active %} aria-current="page"{% endif %}>
      {% include 'processMenuTitle' with itemName:childlink.title %}
      {% include 'processMenuLabel' with itemName:childlink.title %}
      {% include 'icon-arrow-right' %}
    </a>
    <div class="site-nav__dropdown site-nav__dropdown--third-level">
      <ul class="meganav__list">
        {% for grandchildlink in childlink.links %}
        <li class="site-nav__dropdown-container site-nav__dropdown-container--third-level">
          <a href="{{ grandchildlink.url }}" class="meganav__link {% if grandchildlink.active %} meganav__link--active{% endif %}"{% if grandchildlink.active %} aria-current="page"{% endif %}>
            {% include 'processMenuTitle' with itemName:grandchildlink.title %}
            {% include 'processMenuLabel' with itemName:grandchildlink.title %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    <a href="{{ childlink_url }}" class="meganav__link {% if childlink.active %} meganav__link--active{% endif %}"{% if childlink.active %} aria-current="page"{% endif %}>
      {% include 'processMenuTitle' with itemName:childlink.title %}
      {% include 'processMenuLabel' with itemName:childlink.title %}
    </a>
    {% endif %}
  </li>
  {% endfor %}
</div>