
  
  <style>
    .gps-468827854293959590 .absolute{position:absolute}.gps-468827854293959590 .relative{position:relative}.gps-468827854293959590 .inset-0{inset:0}.gps-468827854293959590 .left-\[var\(--left\)\]{left:var(--left)}.gps-468827854293959590 .top-\[var\(--top\)\]{top:var(--top)}.gps-468827854293959590 .mx-auto{margin-left:auto;margin-right:auto}.gps-468827854293959590 .mb-0{margin-bottom:0}.gps-468827854293959590 .flex{display:flex}.gps-468827854293959590 .grid{display:grid}.gps-468827854293959590 .max-w-full{max-width:100%}.gps-468827854293959590 .flex-col{flex-direction:column}.gps-468827854293959590 .justify-center{justify-content:center}.gps-468827854293959590 .overflow-hidden{overflow:hidden}.gps-468827854293959590 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-468827854293959590 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-468827854293959590 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-468827854293959590 .duration-200{transition-duration:.2s}.gps-468827854293959590 .duration-300{transition-duration:.3s}.gps-468827854293959590 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-468827854293959590 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-468827854293959590 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="g8rYse1kQj"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8rYse1kQj mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0OnAlqlaL relative flex flex-col"
    >
      
      
      
    <div
      id="gL_rWdYJUV"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL_rWdYJUV mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRDDfjPU5A relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/de50a668-4b57-47ac-bfa4-15db49c1a157/-/format/auto/" as="image" />
    
    
    <div
      
      class="gYzJ-vJclM group/hero flex flex-col overflow-hidden transition-colors duration-200 ease-in-out"
      style="--mb:var(--g-s-l);--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pos:relative;--d:flex;--d-tablet:flex;--d-mobile:flex;--aspect:3000/2000"
    >
      <div
      class="relative flex flex-col justify-center"
        style="--aspect:3000/2000"
      >
        <div
          aria-label="Background Image"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform "
          style="--bgc:var(--g-c-bg-2);--bgi:url({{ "468827651054764966-254c4dfc-c18b-4ae4-9562-ab7acf907cb9.webp" | asset_url }});--bgp:50% 50%;--bgs:contain;--bgr:no-repeat;--bga:scroll;--duration:0.5s;--scale:110%;--top:0;--left:0"
        > </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:20%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:center;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gx2offRxj4 relative flex flex-col"
    >
      <div data-slot="children"></div>
    </div>
    </div>
  
    
      </div>
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gKFva0tgKI",
    "tag": "section",
    "class": "gps-468827854293959590 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=468827854293959590)"
      }
    ],
    "blocks": []
  }
{% endschema %}
