<div class="container container--wishlist">
  <h1 class="text-center h3 mb-3 text-capitalize">{{ page.title }}</h1>
  <div class="content-block">
    <div class="row js-wishlist-content">
    </div>
  </div>
</div>